{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PolluxUI Admin</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static 'admin/vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'admin/images/favicon.ico' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-start py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'admin/images/logo-dark.svg' %}" alt="logo">
              </div>
              <h4>Hello! let's get started</h4>
              <h6 class="fw-light">Sign in to continue.</h6>
             
              <form method="post" action="{% url 'adminlogin' %}">
                {% csrf_token %}
                {{ admin_login_form.as_p }}
                
                <button type="submit">Log in</button>
              </form>
              <script src="https://www.google.com/recaptcha/api.js" async defer></script>

            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'admin/js/off-canvas.js' %}"></script>
  <script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'admin/js/template.js' %}"></script>
  <script src="{% static 'admin/js/settings.js' %}"></script>
  <script src="{% static 'admin/js/todolist.js' %}"></script>
  <!-- endinject -->
</body>

</html>
