{% extends 'base.html' %} {% block title %} | Enquiry List {% endblock %} {% block content %}
<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">All Enquiries</h2>

    {% if enquiries %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Listing ID</th>
          <th>Realtor</th>
          <th>Message</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for enquiry in enquiries %}
        <tr>
          <td>{{ enquiry.listing.id }}</td>
          <td>{{ enquiry.realtor.name }}</td>
          <td>{{ enquiry.message }}</td>
          <td>{{ enquiry.contact_date|date:"Y-m-d H:i" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="text-center">No enquiries found.</p>
    {% endif %}
  </div>
</section>


{% endblock %}
